<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <ng-template #spinner>
            <div id="spinner">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </ng-template>
        <div id="error-message" *ngIf="errorMessage">
            <app-alert
                (closeAlert)="onHandleError()"
                [message]="errorMessage">
            </app-alert>
        </div>
        <form #authForm="ngForm" id="authForm" (ngSubmit)="onSubmit()" *ngIf="loading === false else spinner">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    name="email"
                    ngModel
                    required
                    email />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    minlength="6"
                    ngModel
                    required />
            </div>
            <div class="row">
                <div class="col-sm-6 btn-toolbar">
                    <button
                        id="submit"
                        type="submit"
                        class="btn btn-primary" 
                        [disabled]="!authForm.valid">
                        {{ logInMode ? 'Log In' : 'Sign Up' }}
                    </button>
                    <button
                        type="button"
                        id="swith-mode"
                        class="btn btn-success"
                        (click)="onSwitchMode()">
                        {{ logInMode ? 'Switch to Sign Up' : 'Switch to Log in' }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>