<div class="row">
    <div class="col-xs-10">
        <div class="ingredient-edit">
            <app-shopping-edit></app-shopping-edit>
        </div>
        <button 
            *ngIf="(ingredients$ | async).length > 0"
            type="button"
            class="btn btn-link save-btn"
            (click)="onSave()">
            Save as PDF
        </button>
        <hr />
        <ul class="list-group">
            <a
                [@ingredient]
                class="list-group-item"
                style="cursor: pointer;"
                (click)="onEditItem(ingredient.id)"
                *ngFor="let ingredient of ingredients$ | async">
                {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
        <small *ngIf="(ingredients$ | async).length === 0">
            Your Shopping List seems to be empty so far ...
        </small>
    </div>
</div>